/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/images/
/public/assets/
/public/plugins/bootstrap
/public/plugins/fontawesome-free
/public/plugins/jquery
/public/plugins/jquery-knob
/public/plugins/jquery-ui
/public/plugins/jqvmap
/public/plugins/moment
/public/plugins/overlayScollbars
/public/plugins/summernote
/public/plugins/sparklines

